{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Change password
{% endblock %}

{% block main %}
    <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-widget">
              <div class="card-header">
                <h3 class="card-title float-right">Create Post Page</h3><br>

    <form method="post">{% csrf_token %}
        <div class="card-body">
        <div class="row">
      <div class="col-6">
        {{ form.old_password|as_crispy_field }}
      </div>
            <div class="col-6"></div>
            <div class="col-6">
        {{ form.new_password1|as_crispy_field }}
      </div>
        </div>
        <div class="row">
      <div class="col-6">
        {{ form.new_password2|as_crispy_field }}
      </div>
        </div>
        <div class="row">
        </div>
    <button class="btn btn-outline-danger">edit Password</button>
    </form>
              </div>
            </div>
        </div>
    </div>
{% endblock %}