{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Profile info
{% endblock %}

{% block main %}
    <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-orange">
              <div class="card-header">
                <h3 class="card-title float-right">Create Post Page</h3><br>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="card-body">
        <div class="row">
      <div class="col-6">
        {{ form.username|as_crispy_field }}
      </div>
            <div class="col-6">
        {{ form.email|as_crispy_field }}
      </div>
        </div>
        <div class="row">
      <div class="col-6">
        {{ form.first_name|as_crispy_field }}
      </div>
            <div class="col-6">
        {{ form.last_name|as_crispy_field }}
      </div>
        </div>
         <div class="row">
      <div class="col-12">
        {{ form.is_author|as_crispy_field }}
      </div>
        </div>
        <div class="row">
        </div>
    <button class="btn btn-outline-light">edit Profile</button><br>
            <span class="text-white"> Change <a href="{% url 'password_change' %}"><span class="text-primary">password</span></a></span>
    </form>
              </div>
            </div>
        </div>
    </div>
{% endblock %}