<body>
    {% load static %}
    <div class="col-md-3">
      <div class="about-fixed">
       
        <div class="my-pic">
           <img src="{% static 'images/pic/Fr3Y.jpg' %}" alt="">
           <a href="javascript:void(0)" class="collapsed" data-target="#menu" data-toggle="collapse"><i class="icon-menu menu"></i></a>
            <div id="menu" class="collapse">
              <ul class="menu-link">
                  <li><a href="{% url 'page:index' %}">Home</a></li>
                  <li><a href="{% url 'page:about' %}">About</a></li>
                  <li><a href="{% url 'page:work' %}">Work</a></li>
                  <li><a href="{% url 'page:contact' %}">Contact</a></li>
               </ul>
            </div>
           </div>
         
         
         
         <div class="my-detail">
           
           <div class="white-spacing">
               <h1>Fr3Y</h1>
               <span>Web Developer</span>
           </div> 
          
          <ul class="social-icon">
            <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
           </ul>
  
       </div>
     </div>
   </div>
  
  </body>